@import "../custom-settings.part.less";

 /* 다이얼로그 루트 */
.cl-dialog {
	border: none; //@modal-border-base;
	border-radius: @modal-border-radius;
	box-shadow: @modal-box-shadow;

	/* 다이얼로그 헤더 */
	.cl-dialog-header {
		background-color: @modal-header-background-color;
		color: @modal-header-text-color;
		border-bottom-color: @modal-header-border-color;
		font-size: @h5-font-size;
		font-weight: @modal-header-text-weight;
		padding: @modal-header-padding-y @modal-header-padding-x;
		
		/* 다이얼로그 헤더 텍스트 */
		.cl-text {
		}

		.cl-dialog-close,
		.cl-dialog-min,
		.cl-dialog-max,
		.cl-dialog-restore {
			background-size: auto;
			margin-left: 6px;
		}

		/* 다이얼로그 닫기 버튼 */
		.cl-dialog-close {
			background-image: url("../images/controls/dialog/ic_close.png");
		}

		/* 다이얼로그 닫기 버튼 - 호버 */
		.cl-dialog-close:hover{
			background-image: url("../images/controls/dialog/ic_close.png");
		}

		/* 다이얼로그 닫기 버튼 - 액티브 */
		.cl-dialog-close:active {
			background-image: url("../images/controls/dialog/ic_close.png");
		}
		/* 다이얼로그 최소화 버튼 */
		.cl-dialog-min {
			background-image: url("../images/controls/dialog/ic_min.png");
		}

		/* 다이얼로그 최소화 버튼 - 액티브 */
		.cl-dialog-min:active {
			background-image: url("../images/controls/dialog/ic_min.png");
		}
		/* 다이얼로그 최대화 버튼 */
		.cl-dialog-max {
			background-image: url("../images/controls/dialog/ic_max.png");
		}
		/* 다이얼로그 최대화 버튼 - 액티브 */
		.cl-dialog-max:active {
			background-image: url("../images/controls/dialog/ic_max.png");
		}
		/* 다이얼로그 복구 버튼 */
		.cl-dialog-restore {
			background-image: url("../images/controls/dialog/ic_restore.png");
		}
		/* 다이얼로그 복구 버튼 - 액티브 */
		.cl-dialog-restore:active {
			background-image: url("../images/controls/dialog/ic_restore.png");
		}
	}
}

.cl-overlay {
	background-color: @modal-overlay-background-color;
}