@import "../custom-settings.part.less";


/* 트리셀 */
.cl-treecell {
	font: @font-base;
	background-image: @component-background-image;
	background-color: @list-background-color;
	border: @list-border-base;
	border-radius: @list-border-radius;
	color: @list-text-color;

	/* 트리셀 안에 트리 아이템 (트리셀에서 트리구조가 시작되는 영역) */
	.cl-treecell-item {

		/* 트리 아이템이 펼치고 접혀지는 아이콘 영역 */
		.cl-treecell-treeicon {
			background-size: auto;
			width: 20px;
		}

		/* 트리 아이템의 아이콘 영역 */
		.cl-treecell-itemicon {
			background-image: url("../images/controls/tree/ic_file.png");
			background-size: auto;
			width: 16px;
		}

		/* 트리 아이템의 텍스트 */
		.cl-text {
			padding: @input-padding-0 @input-padding-0 @input-padding-0 (@input-padding-x / 2);

			/* 트리 아이템의 인풋 영역 */
			input {
			}
		}

		/* 폴더형 트리 아이템 */
		&.cl-folder {

			/* 폴더형 트리 아이템의 아이콘 영역 */
			.cl-treecell-itemicon {
				background-image: url("../images/controls/tree/ic_folder.png");
			}

			/* 폴더형 트리 아이템이 펼쳐졌을 때 펼치고 접혀지는 아이콘 영역 */
			&.cl-expanded > .cl-treecell-treeicon {
				background-image: url("../images/controls/tree/ic_expanded.png");
			}

			/* 폴더형 트리 아이템이 접혀졌을 때 펼치고 접혀지는 아이콘 영역 */
			&.cl-collapsed > .cl-treecell-treeicon {
				background-image: url("../images/controls/tree/ic_collapsed.png");
			}
		}

		/* 트리 아이템 - disabled */
		&.cl-disabled {
			color: @list-disabled-text-color;
		}
	}

	/* 트리셀 - focus */
	&.cl-focus {
		border-color: @list-focus-border-color;
	}
	
	/* 트리셀간 라인 */
	&.cl-treecell-lines {
		
		/* 트리셀라인 적용시 트리셀 아이템 */
		.cl-treecell-item {
			/* 트리라인의 확장/축소 아이콘 */
			.cl-treecell-treeicon {
				// background-size: auto;
				// width:auto;
			}
			&.cl-expanded> .cl-treecell-treeicon {
				background-image: url("../images/controls/tree/ic_minus.png");
			}
			&.cl-expanded.cl-selected> .cl-treecell-treeicon {
				background-image: url("../images/controls/tree/ic_minus.png");
			}
			&.cl-collapsed> .cl-treecell-treeicon {
				background-image: url("../images/controls/tree/ic_plus.png");
			}
			&.cl-collapsed.cl-selected> .cl-treecell-treeicon {
				background-image: url("../images/controls/tree/ic_plus.png");
			}

			/* 형제노드에 의해 라인만 있는 영역 */
			.cl-treecell-line {
				background-image: url("../images/controls/tree/ic_treeline.png");
			}

			/* 현재 트리셀의 라인 영역 */
			.cl-treecell-iconline {
				background-image: url("../images/controls/tree/ic_treeline_child.png");
			}
			
			&.cl-last {
				.cl-treecell-iconline {
					background-image: url("../images/controls/tree/ic_treeline_last.png");
				}
			}
			
			&.cl-first {
				.cl-treecell-iconline {
					background-image: url("../images/controls/tree/ic_treeline_first.png");
				}
			}
			&.cl-first.cl-last{
				.cl-treecell-iconline{
					background-image: url("../images/controls/tree/ic_treeline_alone.png");
				}
			}

			.cl-text {
				padding: @input-padding-0 @input-padding-0 @input-padding-0 (@input-padding-x / 2);
			}
			
			.cl-treecell-line, .cl-treecell-treeicon, .cl-treecell-iconline {
				padding: 0px;
			}
		}
	}
}

/* 트리셀이 enabled이고, 트리 아이템이 enabled일때 스타일 */
.cl-treecell:not(.cl-disabled) {
	.cl-treecell-item:not(.cl-disabled) {
		// cursor: pointer;
	}
}

/* 트리셀 - disabled */
.cl-treecell.cl-disabled {
	background-color: @list-disabled-background-color;
	border-color: @list-disabled-border-color;
	color: @list-disabled-text-color;

	/* 트리셀 - disabled 의 트리 아이템 - selected */
	.cl-treecell-item.cl-selected {
		background-color:  @list-item-disabled-selected-background-color;
		color: @list-item-disabled-selected-text-color;
	}
}