@import "../../custom-settings.part.less";

 .is-dark {
	/************************************************
	 * 캡션
	 ************************************************/
	.cl-output.caption {
		font-size: 13px;
		color: @gray-200;
	}
	
	.cl-grid {
		.cl-grid-cell {
			.cl-output.caption {
				font-size: 13px;
				color: @gray-200;
			}
		}
	}
}