/************************************************
 * 본고딕 - Noto Sans KR
 * (https://fonts.google.com/noto/specimen/Noto+Sans+KR)
 ************************************************/

//@font-face {
//	font-family: "Noto Sans KR";
//	font-style: normal;
//	font-weight: 300;
//	font-display: swap;
//	src: local("Noto Sans KR Light"), local("Noto Sans KR-Light"),
//			url("../fonts/NotoSansKR/NotoSansKR-Light.otf") format("opentype");
//}

@font-face {
	font-family: "Noto Sans KR";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local("Noto Sans KR Regular"), local("Noto Sans KR-Regular"),
			url("../fonts/NotoSansKR/NotoSansKR-Regular.otf") format("opentype");
}

@font-face {
	font-family: "Noto Sans KR";
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: local("Noto Sans KR Medium"), local("Noto Sans KR-Medium"),
			url("../fonts/NotoSansKR/NotoSansKR-Medium.otf") format("opentype");
}

@font-face {
	font-family: "Noto Sans KR";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local("Noto Sans KR Bold"), local("Noto Sans KR-Bold"),
			url("../fonts/NotoSansKR/NotoSansKR-Bold.otf") format("opentype");
}

/************************************************
 * Roboto
 * (https://fonts.google.com/specimen/Roboto?query=roboto)
 ************************************************/

//@font-face {
//	font-family: "Noto Sans KR";
//	font-style: normal;
//	font-weight: 400;
//	font-display: swap;
//	src: 
//			url("../fonts/Roboto/Roboto-Light.ttf") format("truetype");
//}

@font-face {
	font-family: "Noto Sans KR";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: 
			url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Noto Sans KR";
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: 
			url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype");
}

@font-face {
	font-family: "Noto Sans KR";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: 
			url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}