.cl-container{
	&.grp-overlay {
		background-color: rgba(30, 61, 115, .25);
	}
	
	&.grp-toolbar {
		border-radius: 10px;
		background-color: #ffffff;
		opacity: 0.5;
	}
	
	&.img-box {
	}
}

.cl-button.img-btn {
	border: 0px;
	border-radius: 0px;
	background-color: unset;
	background-image: none;
	background-repeat: no-repeat;
	background-position: center center;
	
	&.rotate-ccw {
		background-image: url("../images/icon/rotate-ccw.svg");
	}
	
	&.rotate-cw {
		background-image: url("../images/icon/rotate-cw.svg");
	}
	
	&.plus {
		background-image: url("../images/icon/plus-circle.svg");
	}
	
	&.minus {
		background-image: url("../images/icon/minus-circle.svg");
	}
}