@import "../custom-settings.part.less";
 
/************************************************
 * 로그인 페이지
 ************************************************/
.cl-container.login-wrap {
	background-color: #edf5ff; //#fdeeeb; //#e6e9fc;
	
	.cl-button.btn-dark-mode {
		background-color: @secondary;
		border-color: @secondary;
		color: @white;
		font-size: @h6-font-size;
	}
}

.cl-container.login-box {
	background-color: @white;
	box-shadow: -2px 0px 12px rgba(0, 0, 0, .12);
	
	.cl-container.login-body {
		
		.cl-inputbox {
			font-size: @h6-font-size;
			
			.cl-text {
				padding: 0px 12px;
			}
		}
		
		.cl-button.btn-login {
			background-color: @secondary;
			border-color: @secondary;
			color: @white;
			font-size: @h6-font-size;
		}
	}
}
