@import "../custom-settings.part.less";

/************************************************
 * Depth 2 탭 폴더
 ************************************************/
 
.cl-tabfolder.subtab {
	.cl-tabfolder-header {
		height: 20px;
		
		.cl-empty-area {
			border-bottom: none;
		}
		
		.cl-tabfolder-item {
			background-color: @transparent;
			border: none;
			box-shadow: none;
			padding: 0px 12px;
			
			&:not(.cl-selected):hover {
				background-color: @transparent;
				color: @tab-item-hover-text-color;
			}
			
			&.cl-selected {
				color: @primary;
			}
			
			&:not(.cl-first) {
				background-image: linear-gradient(@tab-border-color, @tab-border-color);
				background-repeat: no-repeat;
				background-position: left center;
				background-size: 1px 12px;
			}
		}
	}
}