@import "../../custom-settings.part.less";

/************************************************
 * 캡션
 ************************************************/
.high-contrast{
	.cl-output.caption {
		font-size: 13px;
		color: @gray-700;
	}
	
	.cl-grid {
		.cl-grid-cell {
			.cl-output.caption {
				font-size: 13px;
				color: @gray-700;
			}
		}
	}
}
/************************************************
 * 
 ************************************************/
 