@import "../../custom-settings.part.less";
.high-contrast {
/* 파일 인풋 루트 */
.cl-fileinput {
	font: @font-base;
	background: url("../../images/controls/inputbox/ic_file.png") no-repeat calc(100% - 8px) center !important;
	background-color: @input-background-color;
	border: @input-border-contrast;
	border-radius: @input-border-radius;
	color: @input-text-color-contrast;

	/*autoSize 설정시 표시되는 기본크기*/
	//min-width: 50px;
	min-height: 20px;
	
	/* 파일 인풋 내 텍스트 */
	.cl-text {
		padding: @input-padding-0 @input-padding-x;
		
		&.cl-placeholder {
			color: @input-placeholder-text-color-contrast !important;
			font-style: @input-placeholder-text-style;
			font-weight: @input-placeholder-text-weight;
		}
	}

	/* 포커스 상태 */
	&.cl-focus {
		background-image: url("../../images/controls/inputbox/ic_file_on.png") !important;
		border-color: @input-focus-border-color-contrast;
	}

	&.cl-disabled {
		background-color: @input-disabled-background-color;
		border-color: @input-disabled-border-color-contrast;
		color: @input-disabled-text-color-contrast;
	}

	/* 파일 인풋 - 클리어 버튼 */
	.cl-fileinput-clear {
		background-image: url("../../images/controls/inputbox/ic_text_clear.png");
		background-size: auto;
		background-position: left center;
		width: 22px;
	}
}
}