@import "../../custom-settings.part.less";
.high-contrast{

 /* 탭 폴더 - disabled */
.cl-tabfolder.cl-disabled {
}

/* 탭 폴더 */
.cl-tabfolder {
	font: @font-base;
	color: @table-text-color-contrast;

	/* 헤더 */
	.cl-tabfolder-header {
		height: @tab-item-height;
		
		.cl-empty-area {
			border-bottom: @table-border-contrast;
		}
		
		.cl-tabfolder-prev,
		.cl-tabfolder-next {
			background-color: @btn-background-color;
			border: @btn-border-contrast;
			width: @tab-item-height;
			
			&.cl-disabled {
				background-color: @tab-item-disabled-background-color;
			}
		}
		
		/* 이전으로 스크롤 버튼 */
		.cl-tabfolder-prev {
			background-image: url("../../images/controls/tabfolder/ic_prev.png");
			margin-right: -1px;

			&:hover, &:focus {
				background-image: url("../../images/controls/tabfolder/ic_prev_on.png");
			}

			/* 이전으로 스크롤 버튼 - disabled */
			&.cl-disabled {
				background-image: url("../../images/controls/tabfolder/ic_prev_off.png");
			}
		}

		/* 다음으로 스크롤 버튼 */
		.cl-tabfolder-next {
			background-image: url("../../images/controls/tabfolder/ic_next.png");

			&:hover, &:focus {
				background-image: url("../../images/controls/tabfolder/ic_next_on.png");
			}

			/* 다음으로 스크롤 버튼 - disabled */
			&.cl-disabled {
				background-image: url("../../images/controls/tabfolder/ic_next_off.png");
			}
		}
	
		/* 탭 헤더 아이템 */
		.cl-tabfolder-item {
			background-color: @tab-item-background-color;
			border: @tab-item-border-contrast;
			border-bottom : none;
			box-shadow: inset 0px -1px 0px 0px @tab-item-border-color-contrast;
			color: @tab-item-text-color-contrast;
			padding: @tab-item-padding-y @tab-item-padding-x @tab-item-padding-y @tab-item-padding-x;
			
			/* 탭 아이템 체크 박스 */
			.cl-checkbox {
				.cl-checkbox-icon {
					background-image: url("../../images/controls/checkbox/ic_checkbox.png");
				}
				
				&.cl-checked {
					.cl-checkbox-icon {
						background-image: url("../../images/controls/checkbox/ic_checkbox_on.png");
					}
				}
			}

			.cl-text {
				&:focus {
//					text-decoration: none;
				}
			}

			/* 탭 헤더 아이템 닫기 버튼 */
			.cl-tabfolder-button {
				background-image: url("../../images/controls/tabfolder/ic_tab_close.png");
				background-size: auto;
				background-position: center;
				margin-left: 8px;
				width: 8px;
			}

			/* 탭 헤더 아이템 - 선택됨 */
			&.cl-selected {
				background-color: @tab-item-selected-background-color-contrast;
				border-color: @tab-item-selected-border-color-contrast;
				box-shadow: none;
				color: @tab-item-selected-text-color-contrast;

				/* 탭 헤더 아이템 닫기 버튼 - 선택 됨 */
				.cl-tabfolder-button {
					background-image: url("../../images/controls/tabfolder/ic_tab_close.png");
				}
			}
	
			/* 탭 헤더 아이템 - 호버 */
			&:not(.cl-selected):hover {
				background-color: @tab-item-hover-background-color-contrast;
				border-color: @tab-item-hover-border-color-contrast;
				color: @tab-item-hover-text-color-contrast;
			}

			/* 비활성 탭 아이템 */
			&.cl-disabled {
				background-color: @tab-item-disabled-background-color-contrast;
				border-color: @tab-item-disabled-border-color-contrast;
				color: @tab-item-disabled-text-color-contrast;
				text-shadow: none;
				
				&:hover {
					background-color: @tab-item-disabled-background-color-contrast;
					border-color: @tab-item-disabled-border-color-contrast;
					color: @tab-item-disabled-text-color-contrast;
				}
			}
		}
	}
	
	/* 탭폴더 바디 */
	.cl-tabfolder-body {
		background-color: @tab-body-background-color;
		border: none; //@tab-border-base;
		color: @tab-text-color-contrast;
	}
}
}